In [ ]:
#Q1: Given a list [100, 200, 300, 400, 500], print elements from index 1 to 3.

In [ ]:
number=[100,200,300,400,500]
print(number[1:4])

[200, 300, 400]

In [ ]:
#Q2:Find the largest and smallest numbers from the list [34, 78, 12, 99, 56].

In [ ]:
list1=[34,78,12,99,56]
largest=max(list1)
smallest=min(list1)
print("largest number",largest)
print("smallest number",smallest)

largest number 99
smallest number 12

In [ ]:
#Q3: Delete the key "city" from the dictionary {"name": "Sara", "age": 23, "city": "London"}.

In [ ]:
person = {"name": "Sara", "age": 23, "city": "London"}
del person["city"]
print(person)

{'name': 'Sara', 'age': 23}

In [ ]:
#Q4:Add "marks": 95 to the dictionary {"name": "Bob", "age": 22}.

In [ ]:
student = {"name": "Bob", "age": 22}
student["marks"] = 95
print(student)

{'name': 'Bob', 'age': 22, 'marks': 95}

In [ ]:
#Q5: Given a tuple (10, 20, 30, 40, 50), print the first, third, and last elements.

In [ ]:
numbers = (10, 20, 30, 40, 50)
print("First element:", numbers[0])
print("Third element:", numbers[2])
print("Last element:", numbers[-1])

First element: 10
Third element: 30
Last element: 50

In [ ]:
#Q6: Find the number of elements in the tuple (1, 2, 3, 4, 5, 6).

In [ ]:
numbers = (1, 2, 3, 4, 5, 6)
count = len(numbers)
print("Number of elements in the tuple:", count)

Number of elements in the tuple: 6

In [ ]:
#Q7: Create a list of 5 integers and print its type.
num=[5,6,2,3,6]
print(type(num))

<class 'list'>

In [ ]:
#Q8: Create a dictionary {"name": "Alice", "age": 25} and print its type.

In [ ]:
person2={"name": "Alice", "age": 25}
print(type(person2))

<class 'dict'>

In [ ]:
#Q9: Find the largest of three numbers.

In [ ]:
numbers=(20,30,10)
largest=max(numbers)
print("largest number", largest)

largest number 30

In [ ]:
#Q10: Check if a letter is a vowel or consonant.

In [ ]:
letter = input("Enter a single letter: ")
if letter in 'aeiou':
    print(letter, "is a vowel.")
else:
    print(letter, "is a consonant.")

Enter a single letter: d
d is a consonant.

In [ ]:
#Q11: Check if a number is positive, negative, or zero.

In [ ]:
number=float(input("enter a number"))
if number>0:
  print(number,"positive")
elif number<0:
  print(number,"negative")
else:
  print(number,"zero")

enter a number0
0.0 zero

In [ ]:
#bonus question : Simple Calculator: Perform +, -, *, / operations based on user input.
number1=float(input("enter the first number"))
number2=float(input("enter the second number"))
num=number1+number2
print(num)

enter the first number5
enter the second number6
11.0

In [ ]:
number1=float(input("enter the first number"))
number2=float(input("enter the second number"))
num=number1-number2
print(num)

enter the first number6
enter the second number2
4.0

In [ ]:
number1=float(input("enter the first number"))
number2=float(input("enter the second number"))
num=number1*number2
print(num)

enter the first number5
enter the second number6
30.0

In [ ]:
number1=float(input("enter the first number"))
number2=float(input("enter the second number"))
num=number1/number2
print(num)

enter the first number1
enter the second number6
0.16666666666666666